<nav class="navbar navbar-dark navbar-expand-md bg-success justify-content-between">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse dual-nav w-100">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="/">Home <span class="sr-only">Home</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/help">Help</a>
                        </li>
                    </ul>
                </div>
                <a href="/" class="navbar-brand mx-auto d-block text-center w-100">Creation Station</a>
                <div class="navbar-collapse collapse dual-nav w-100">
                    <ul class="nav navbar-nav ml-auto">
                        {{#if user}}

                        <li class="nav-item"><span class="nav-link" disabled>Hi, {{this.username}}</span></li>
                         <li class="nav-item"><a class="nav-link" href="/signout">Sign out</a></li>
                         {{else}}
                         <li class="nav-item"><a class="nav-link" href="/signin">Sign in</a></li>
                         {{/if}}
                    </ul>
                </div>
            </nav>

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                
                <p>
<<<<<<< HEAD
                    <a href="/all">All jobs</a>
=======
                    <a href="/">All jobs</a>
>>>>>>> 11b8177c21ef8cfe7db3669c01f30fc192f52e6e
                </p>
                <p>
                    <a href="/post">Post job</a>
                </p>

                {{#if user}}
                <p>
                    <a href="/myjobs">My jobs</a>
                </p>
                <p>
                    <a href="/donejobs">Done jobs</a>
                </p>
                {{/if}}
            </div>
            <div class="col-sm-10 text-left">
                <h1 class="text-center">Welcome</h1>

                <div id="forjobs">
<<<<<<< HEAD
                    {{#each}}
=======
                    {{#each jobs}}
>>>>>>> 11b8177c21ef8cfe7db3669c01f30fc192f52e6e
                    <div class="card">
                        <div class="card-header">
                            <h5 class="text-right">Available Job</h5>

                        </div>

                        <div class="row">

                            <div class="col-sm-2 my-block-center">
                                <a href="https://placeholder.com">
                                    <img src="http://via.placeholder.com/150x150">
                                </a>
                            </div>
                            <div class="col-sm-9 card-body">
                                <h5 class="card-title text-center">{{this.title}}</h5>
                                <p class="card-text">{{this.description}}</p>
                                <p class="card-text">Price:
                                    <span id="cost">{{this.cost}}</span>
                                </p>
                                <p class="card-text">Price:
                                    <span id="address">{{this.address}}</span>
                                </p>
                                <p class="text-right">
                                    <a href="#" class="btn btn-success details" id="{{this.id}}">Details</a>
                                    {{#if this.completed}}
                                    <a href="#" class="btn btn-success apply-job" id="{{this.id}}">Apply for this job</a>
                                    {{else}}
                                    <a href="#" class="btn btn-success" disabled>Done</a>
                                    {{/if}}
                                </p>
                            </div>
                        </div>

                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
<<<<<<< HEAD
    </div>
=======
    </div>
>>>>>>> 11b8177c21ef8cfe7db3669c01f30fc192f52e6e
