
    <div class="container-fluid text-center main-content">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                
                <p>
                    <a href="/">All jobs</a>
                </p>
                <p>
                    <a href="/post">Post job</a>
                </p>

                {{#if user}}
                <p>
                    <a href="/myjobs">My jobs</a>
                </p>
                <p>
                    <a href="/donejobs">Done jobs</a>
                </p>
                {{/if}}
            </div>
            <div class="col-sm-10 text-left">

                <div id="forjobs">
                    {{#each jobs}}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="text-right">Available Job</h5>

                        </div>

                        <div class="row">

                            <div class="col-sm-2 my-block-center">
                                <a href="https://placeholder.com">
                                    <img src="http://via.placeholder.com/150x150">
                                </a>
                            </div>
                            <div class="col-sm-9 card-body">
                                <h5 class="card-title text-center">{{this.title}}</h5>
                                <p class="card-text">{{this.description}}</p>
                                <p class="card-text">Price:
                                    <span id="cost">{{this.cost}}</span>
                                </p>
                                <p class="card-text">Address:
                                    <span id="address">{{this.address}}</span>
                                </p>
                                <p class="text-right">
                                    <a href="/api/jobs/{{this.id}}" class="btn btn-success details" id="{{this.id}}">Details</a>
                                    {{#if this.completed}}
                                    <a href="#" class="btn btn-success" disabled>Done</a>
                                    {{else}}
                                    
                                    <a href="#" class="btn btn-success apply-job" id="{{this.id}}">Apply for this job</a>
                                    
                                </p>

                                <p class="text-right"> Was created by {{User.last_name}} {{User.first_name}} {{this.createdAt}}</p>
                                {{/if}}
                            </div>
                        </div>

                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
