
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                
                <p>
                    <a href="/">All jobs</a>
                </p>
                <p>
                    <a href="/post">Post job</a>
                </p>

                {{#if user}}
                <p>
                    <a href="/myjobs">My jobs</a>
                </p>
                <p>
                    <a href="/donejobs">Done jobs</a>
                </p>
                {{/if}}
            </div>
            <div class="col-sm-10 text-left">
                <h1 class="text-center">Welcome</h1>

                <div id="jobdesc">

                                <div> Title : <span>{{this.data.title}}</span> </div>
                                <div>Was created on : <span>{{this.data.createdAt}}</span> </div>
                                <div> Address : <span>{{this.data.address}}</span> </div>
                                <div>Description : <span>{{this.data.description}}</span></div>
                                <div>Cost : <span>{{this.data.cost}}</span></div>
                                <div> Photos : <span></span></div>
   
                </div>
            </div>
        </div>
    </div>
